.App {
  text-align: center;
  color: #475841;
}

html {
  background-color: #CED0CE;
}

.Button-light {
  background-color: #9FB8AD;
  color: white;
}

.Button-light:hover {
  background-color: #799186;
  transition: 0.5s;
}

.Button-dark {
  background-color: #475841;
  color: white;
}

.Button-dark:hover {
  background-color: #333f2e;
  transition: 0.5s;
}

.Button-white {
  background-color: transparent;
  fill: white;
  outline: none;
  border: none;
}

.Button-white:hover {
  background-color: transparent;
  stroke: #9FB8AD;
  stroke-width: 1em;
  transition: 0.5s;
}

.Radio {
  appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-clip: content-box;
  border: 2px solid #9FB8AD;
  margin: 0 0.35em -0.35em 0;
  font-size: 0.5em;
}

.Radio:checked {
  background-color: #9FB8AD;
  padding: 4px;
  border: 2px solid #9FB8AD;
}

.Checkbox {
  appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 30%;
  background-clip: content-box;
  border: 2px solid #9FB8AD;
  margin: 0 0.35em -0.35em 0;
}

.Checkbox:checked {
  background-color: #9FB8AD;
  padding: 4px;
  border: 2px solid #9FB8AD;
}

.Entry-light {
  border: 3px solid #9FB8AD;
}

.Entry-light:focus, .Entry-light:hover {
  outline: none;
  border: 3px solid #799186;
  transition: 0.5s;
}

.disabled-input {
  background-color: #acacac;
}

@media screen and (max-width: 1200px) {
  body { font-size: 80%; }
  svg { width: 80%; height: 80%; }
}
@media screen and (max-width: 900px) {
  body { font-size: 55%; }
  svg { width: 55%; height: 55%; }
}
@media screen and (max-width: 600px) {
  body { font-size: 40%; }
  svg { width: 40%; height: 40%; }
}
